@use "sass:math";

#about {
  .text-primary {
    color: #98654c !important;
  }
  .heading-1 {
    font-size: math.div(28rem, 16);
    font-weight: 700;
    @include md {
      font-size: math.div(48rem, 16);
    }
  }
}
