@use "sass:math";

.feat__wrapper {
  border-top: solid 2px $dark;
}
#feat {
  padding-block: 4rem;

  .row {
    gap: math.div(40rem, 16);
    @include md {
      gap: 0;
    }
  }
  .kasten {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 3px 3px 0px #000000;
  }
}
