@use "sass:math";

.feat__wrapper {
  border-top: solid 2px $dark;
  border-bottom: solid 2px $dark;
}
#feat {
  padding-block: 5rem;
  h2 {
    padding-bottom: 3rem;
  }
  .reihe {
    grid-template-columns: repeat(1, 1fr);
    gap: math.div(48rem, 16);
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include lg {
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem;
    }
  }
  .kasten {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 0px #000000;
  }
}
