@use "sass:math";

.hero__wrapper {
  overflow: hidden;
  @include lg {
    position: relative;
  }
}
#hero {
  min-height: calc(100vh - 98px);
  justify-content: center;
  @include sm {
    max-height: calc(100vh - 98px);
    justify-content: normal;
  }
  @include md {
    min-height: calc(100vh - 60px);
  }
  h1 {
    width: 100%;
    text-align: center;
    @include lg {
      width: 750px;
      margin-inline: auto;
    }
  }
  p {
    width: 100%;
    padding-block: 1rem 1.5rem;
    text-align: center;

    @include lg {
      padding-block: 1.5rem 2rem;
      width: 550px;
      margin-inline: auto;
    }
  }
  .button__group {
    gap: 1.5rem;

    @include md {
      gap: 2rem;
    }
    a {
      margin-inline: auto;
      @include sm {
        margin-inline: initial;
      }
    }
  }
  .hero__right--panel {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(10deg)
      rotateY(0deg) rotateZ(8deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    margin-top: 9rem;
    @include lg {
      position: absolute;
      margin-top: 0rem;
      top: -25%;
      left: 65%;
    }
    @include xl {
      left: 53%;
    }

    img {
      animation: flowIn 3s cubic-bezier(0.33, 1, 0.68, 1);
    }
  }
}

@keyframes flowIn {
  from {
    transform: translateX(45%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
