@use "sass:math";

nav {
  padding-block: 1rem;
  @include md {
    padding-block: math.div(11rem, 16);
  }
  img {
    height: 18px;
    @include md {
      height: 24px;
    }
  }
  .navbar-collapse {
    margin-top: 1rem;
    @include lg {
      margin-top: 0rem;
    }
  }
  ul {
    gap: 1rem;
    @include lg {
      gap: math.div(40rem, 16);
    }
    a {
      font-weight: 400;
      color: $dark;
      @include md {
        font-size: math.div(22rem, 16);
      }
      &[data-state="active"],
      &[aria-current="page"] {
        color: #98654c !important;
      }
    }
  }
  .breadcrumb-item a {
    color: #98654c !important;
  }
  .breadcrumb-item.active {
    color: #6c757d !important;
  }
}
