@use "sass:math";

#project__item {
  time,
  a {
    color: #98654c;
    margin-top: 4rem;
  }

  h2 {
    margin-top: 2rem;
    color: $primary;
    font-size: math.div(24rem, 16);
    font-weight: 700;
    @include md {
      font-size: math.div(36rem, 16);
    }
  }
  h3 {
    margin-top: 1.5rem;
    color: $primary;
    font-size: math.div(20rem, 16);
    font-weight: 700;
    @include md {
      font-size: math.div(24rem, 16);
    }
  }
  h4 {
    margin-top: 1.5rem;

    font-size: math.div(18rem, 16);
    font-weight: 700;
    color: #98654c;
    @include md {
      font-size: math.div(20rem, 16);
      color: $primary;
    }
  }
  p {
    font-size: math.div(16rem, 16);
    line-height: 150%;
    @include md {
      font-size: math.div(18rem, 16);
    }
    margin-block: 1rem;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  ul {
    font-size: math.div(16rem, 16);
    line-height: 150%;
    @include md {
      font-size: math.div(18rem, 16);
    }
  }
  .toc {
    margin-block: 1rem;
    h2 {
      margin-top: 0;
    }
    li {
      margin-block: 0.5rem;
    }
  }
  .icon {
    width: 48px;
  }
}


.blog-header-link.before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  padding-right: 4px;
}
.blog-header-link.after {
  display: inline-block;
  padding-left: 4px;
}
h1 .blog-header-link svg,
h2 .blog-header-link svg,
h3 .blog-header-link svg,
h4 .blog-header-link svg,
h5 .blog-header-link svg,
h6 .blog-header-link svg {
  visibility: hidden;
}
h1:hover .blog-header-link svg,
h2:hover .blog-header-link svg,
h3:hover .blog-header-link svg,
h4:hover .blog-header-link svg,
h5:hover .blog-header-link svg,
h6:hover .blog-header-link svg,
h1 .blog-header-link:focus svg,
h2 .blog-header-link:focus svg,
h3 .blog-header-link:focus svg,
h4 .blog-header-link:focus svg,
h5 .blog-header-link:focus svg,
h6 .blog-header-link:focus svg {
  visibility: visible;
}



.routeSkipHeading {
  position: relative;
}
.routeSkipLink {
  display: inline-block;
  margin-left: -0.75em;
  opacity: 0;
  position: absolute;
  text-decoration: none;
}
.routeSkipLink:before {
  content: "\21FD";
  display: block;
  color: $primary;
}
.routeSkipLink:focus,
.routeSkipLink:hover {
  opacity: 1;
}

@media screen and (max-width: 671px) {
  .routeSkipLink {
    right: 0;
  }
}