@use "sass:math";

#socials {
  padding-block: 5rem;

  .carousel-indicators {
    bottom: 15%;
  }
  .carousel-inner {
    border-radius: 10px;
    border: 2px solid #000000;
    box-shadow: 3px 3px 0px #000000;
    .quote {
      z-index: 0;
      @include md {
        width: 100px;
        left: 21%;
        top: -8%;
      }
    }
  }
  .carousel-item {
    padding-inline: 1.5rem;
    padding-block: 2rem 8rem;
    position: relative;
    @include md {
      padding-block: 4rem 8rem;
      padding-inline: 3rem;
    }
    .person {
      width: 75px;
      height: 75px;
      position: relative;
      z-index: 99;
      border-radius: 200px;
      @include sm {
        width: 150px;
        height: 150px;
      }
      @include md {
        width: 250px;
        height: 250px;
      }
    }
    .quote {
      z-index: 0;
      width: 75px;
      height: 75px;
      left: 69%;
      bottom: 19%;

      @include md {
        width: 100px;
        height: 100px;
        left: 35%;
        top: 5%;
      }
      @include lg {
        left: 21%;
        top: 5%;
      }
    }
  }
  .testi__wrapper {
    display: grid;
    grid-template-areas:
      "text text text"
      "pic name ."
      "pic job .";
    row-gap: 1rem;
    column-gap: 1rem;
    @include sm {
      gap: 2rem;
    }
    @include md {
      column-gap: 4.5rem;
      row-gap: 0rem;
      grid-template-areas:
        "pic text text"
        ". name ."
        ". job .";
    }
    .text {
      grid-area: text;
    }
    .name {
      grid-area: name;
    }
    .job {
      grid-area: job;
      color: #98654c !important;
    }

    .person {
      grid-area: pic;
    }
    h2 {
      @include lg {
        padding-bottom: 0.5rem;
        margin-top: 0rem;
      }
      @include xl {
        padding-bottom: 0.5rem;
        margin-top: -1rem;
      }
    }
  }
}
