.wrapper {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
}
.sm__wrapper {
  width: 90%;
  max-width: 794px;
  margin-inline: auto;
}
.md__wrapper {
  width: 90%;
  max-width: 1000px;
  margin-inline: auto;
}
