{% extends "layouts/base.html" %} {% block content %} {% if page_cta %} {% set
ctaContent = page_cta %} {% endif %}

<section
  id="about"
  aria-label="about"
  class="wrapper py-lg-5 my-lg-4 py-3 my-3"
>
  <div class="row">
    <div class="col-lg-6">
      <h1 class="heading-1 | text-primary">{{heading}}</h1>
      <p class="body-lg | mt-2">
        Hi, Ich bin Minh Khang Tran, ein Web Designer und Web Developer aus Ulm.
        Ich arbeite als Freelancer oder Freiberufler im Bereich
        Webseitenerstellung und habe mich auf statische Webseiten spezialisiert.
      </p>
      <p class="body-lg | text-primary fst-italic mt-3">
        Wollen Sie mehr Interessenten haben? Wollen Sie Ihre Webpräsenz bzw.
        Ihre Reichweite im Internet verbessern?
      </p>
      <p class="body-lg | mt-2">
        Dann benötigen Sie und Ihre Dienstleistung eine Plattform. Dafür eignen
        sich statische Webseiten am besten. Es sind Webseiten, die Ihren Kunden
        Ihre besten Seiten zeigen!
      </p>
      <h2 class="heading-2 | text-primary mt-3">{{heading2}}</h2>
      <p class="body-lg | mt-2">
        Sind Sie ein kleines bis mittleres Unternehmen und wollen Ihre
        Webpräsenz aufbauen?
      </p>
      <p class="body-lg | mt-2">Dann könnte Ihnen das gefallen:</p>
      <p class="body-lg mt-2">
        Mein Ziel ist die Erhöhung Ihrer Leadgenerierung. Sei es eine Anmeldung
        zu einem Newsletter oder mehr Interessenten bzw. Kunden für Ihr Produkt
        zu bekommen. Alles fängt mit einer Webseite, die auf jedem Gerät
        verfügbar ist und eine gute Reichweite hat.
      </p>
      <p class="body-lg mt-2">
        Ich lege bei meinen Webseiten großen Wert auf Geschwindigkeit,
        Barrierefreiheit und Sicherheit.
      </p>
      <p class="body-lg mt-2">
        Wussten Sie, dass Besucher eine Seite verlassen, wenn die Seite
        langsamer lädt als 3 Sekunden? Selbst wenn die Seite informativ und ein
        schönes Design hat. Eine Seite, die sofort verlassen wird, hat keinen
        Wert.
      </p>
      <p class="body-lg mt-2">
        Dadurch, dass ich mich auf die Geschwindigkeit der Webseite fokussiere,
        lädt Ihre Seite deutlich schneller. Mit Barrierefreiheit erreichen Sie
        mehr Kunden. Auch diese, die körperlich oder geistig beeinträchtigt
        sind. Und eine sichere Seite spricht für sich. Weniger Stress für Sie.
      </p>
      <p class="body-lg mt-2">
        Ich gestalte für jeden Kunden individuell angepasste Webseiten. Jeder
        Kunde hat andere Zielgruppe. Durch eine Analyse der Konkurrenz und der
        Zielgruppe wird ein geeignetes Design erstellt. Dabei werden die
        Vorlieben des Kunden berücksichtigt.
      </p>
      <p class="body-lg mt-2">Der Prozess ist wie folgt aufgebaut:</p>
      <ul class="body-lg mt-2 | text-primary fst-italic">
        <li>Dialog (mit dem Ihnen)</li>
        <li>Design</li>
        <li>Development (Entwicklung)</li>
        <li>Deployment (Veröffentlichen)</li>
      </ul>
      <p class="body-lg mt-2">
        Der Kunde ist dabei in jedem Schritt mit eingebunden – vom Dialog bis
        zum Veröffentlichen der Webseite!
      </p>
    </div>
    <div class="col-lg-4 ms-auto mt-4 mt-lg-0">
      <img
        src="{{about_img}}"
        alt="Ein Bild von Minh Khang Tran"
        class="img-fluid"
        loading="lazy"
      />
    </div>
  </div>
</section>

{% include "partials/cta.html" %} {% endblock %}
