<section id="about" aria-label="about" class="wrapper">
  <div class="row">
    <div class="col-lg-6 col-md-8">
      <h2 class="heading-2 | text-dark">Über mich</h2>
      <p class="body-lg | mt-2">
        Hi, ich bin Minh Khang Tran, ein Web Designer und Web Developer aus Ulm.
        Ich arbeite als Freelancer oder Freiberufler im Bereich Web Design und
        Web Development.
      </p>
      <p class="body-lg | mt-2">
        Ich erstelle für kleine und mittlere Unternehmen Websites, um deren
        Webpräsenz zu verbessern oder zu erstellen. Das Ziel ist die Erhöhung
        der Sichtbarkeit in den Suchmaschinen und eine stabile Website.
      </p>
      <p class="body-lg | mt-2">
        Der Schwerpunkt liegt bei mir auf Geschwindigkeit, Barrierefreiheit und
        Sicherheit.
      </p>
    </div>
    <div class="col-lg-4 col-md-4 ms-auto mt-4 mt-lg-0">
      <img
        src="/images/hero-min.png"
        alt="Ein Bild von Minh Khang Tran"
        class="img-fluid"
        loading="lazy"
      />
    </div>
  </div>
</section>
