<section class="feat__wrapper">
  <section class="wrapper" id="feat" aria-label="feat section">
    <h2 class="heading-2 text-dark text-center">
      Was ich alles mache
    </h2>
    <div class="d-grid  | reihe">

      <article class=" | d-flex flex-column justify-content-center align-items-center">
        <div class="kasten | bg-primary d-flex justify-content-center align-items-center border border-dark border-2">
          <img src="/images/responsive.svg" alt="" />
          <span class="visually-hidden">Responsive Design icon</span>
        </div>

        <h3 class="heading-2 | text-capitalize text-primary text-center py-3">
          Responsive Design
        </h3>
        <p class="body-lg | text-dark text-center">
          Ich gestalte Websites, die auf allen Endgeräten (Handy, Tablet und PC-Monitor) benutzt werden können.
          Ihr Design wird <span class="fw-bolder">einzigartig</span> sein wie Sie. Dadurch stechen Sie von der
          grauen Masse ab und bleiben so länger in den Köpfen Ihrer Kunden und Kundinnen.
        </p>
      </article>
      <article class=" | d-flex flex-column justify-content-center align-items-center">
        <div class="kasten | bg-primary d-flex justify-content-center align-items-center border border-dark border-2">
          <img src="/images/maintenance.svg" alt="" />
          <span class="visually-hidden">Wartung icon</span>
        </div>

        <h3 class="heading-2 | text-capitalize text-primary text-center py-3">
          Wartung
        </h3>
        <p class="body-lg | text-dark text-center">
          Ihre Website verwendet veraltete Technologie? Sie wollen von einer langsamen Wordpress-Seite auf eine
          schnelle Website wechseln? Ich bringen Ihre Website wieder auf Vordermann und achte dabei, dass die Website <span
            class="fw-bolder">schnell, sicher und zugänglich</span> ist.
        </p>
      </article>
      <article class=" | d-flex flex-column justify-content-center align-items-center">
        <div class="kasten | bg-primary d-flex justify-content-center align-items-center border border-dark border-2">
          <img src="/images/keyword.svg" alt="" />
          <span class="visually-hidden">Blogging und SEO icon</span>
        </div>

        <h3 class="heading-2 | text-capitalize text-primary text-center py-3">
          Blogging und SEO
        </h3>
        <p class="body-lg | text-dark text-center">
          Um bei den Suchmaschinen gefunden zu werden, muss Ihre Website für den
          Leser relevant sein. Mit bestimmten Keywords und Texte für Menschen werden die Suchmaschinen Ihre Website mit
          einem <span class="fw-bolder">guten Ranking</span> belohnen.
        </p>
      </article>

    </div>
  </section>
</section>