<section id="geplaenkel" class="xs__wrapper" aria-label="Geplänkel Abschnitt">
    <p>
        Ihr Freelancer für Web Design und Web Development aus Ulm. Von Landing Pages über Businesswebsiten bis hin zu Blogs. Geben Sie Ihrer Dienstleistung eine Plattform.
    </p>
    <p class="middle__p">
        Ihr Freelancer für Web Design und Web Development aus Ulm. Von Landing Pages über Businesswebsiten bis hin zu Blogs. Geben Sie Ihrer Dienstleistung eine Plattform.
    </p>
    <p class="last__p">
        Ihr Freelancer für Web Design und Web Development aus Ulm. Von Landing Pages über Businesswebsiten bis hin zu Blogs. Geben Sie Ihrer Dienstleistung eine Plattform.
    </p>
    <form class="d-flex | needs-validation" novalidate>
        <label for="validationCustomEmail" class="form-label | visually-hidden">Email</label>
        <div class="input-group has-validation">
          <input placeholder="E-Mail" type="email" class="form-control" id="validationCustomEmail" aria-describedby="inputGroupPrepend" required>
          <div class="invalid-feedback">
            Bitte eine E-Mail Adresse eingeben
          </div>
        </div>
      <div class="button__group">
        <button class="btn btn-primary" type="submit">Jetzt runterladen</button>
      </div>
    </form>
</section>