<a class="skip-to-content" href="#main-content">Zum Hauptinhalt springen</a>
<div class="nav__wrapper border-bottom border-dark border-2">

  <nav id="global-nav" class="wrapper navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/Logo.svg" alt="home" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
         
      
          <li class="nav-item d-flex align-items-center">
            <a
              class=""
              href="/beispiele/"
              {{
              helpers.getLinkActiveState("/beispiele/",
              page.url)
              |
              safe
              }}
            >
              Beispiele
            </a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a
              class=""
              href="/blog/"
              {{
              helpers.getLinkActiveState("/blog/",
              page.url)
              |
              safe
              }}
            >
              Blog
            </a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a
              class=""
              href="/kontakt/"
              {{
              helpers.getLinkActiveState("/kontakt/",
              page.url)
              |
              safe
              }}
            >
              Kontakt
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
