<a class="skip-to-content" href="#main-content">Zum Hauptinhalt springen</a>
<div class="nav__wrapper border-bottom border-dark border-2">

  <nav class="wrapper navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/Logo.svg" alt="home" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
         
          <li class="nav-item dropdown">
            <a
              class="nav-item dropdown-toggle"
              href="/leistungen"
              id="leistungenDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Leistungen
            </a>
            <ul class="dropdown-menu" aria-labelledby="leistungenDropdown">
              <li><a class="dropdown-item" href="/leistungen/web-design/">Web Design</a></li>
              <li><a class="dropdown-item" href="/leistungen/web-development/">Web Development</a></li>
              <li><a class="dropdown-item" href="/leistungen/website-optimierung/">Optimierung</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-item dropdown-toggle"
              href="/beispiele"
              id="beispieleDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Website Beispiele
            </a>
            <ul class="dropdown-menu" aria-labelledby="beispieleDropdown">
              <li><a class="dropdown-item" href="/beispiele/landingpage/">Landingpage</a></li>
              <li><a class="dropdown-item" href="/beispiele/business-website/">Business Website</a></li>
              <li><a class="dropdown-item" href="/beispiele/portfolio/">Portfolio</a></li>
              <li><a class="dropdown-item" href="/beispiele/event-website/">Event Website</a></li>
              <li><a class="dropdown-item" href="/beispiele/blog/">Blog</a></li>
            
            </ul>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a
              class=""
              href="/kontakt/"
              {{
              helpers.getLinkActiveState("/kontakt/",
              page.url)
              |
              safe
              }}
            >
              Kontakt
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
